[
  {
    "id": "kubedeploy",
    "execute-command": "/var/scripts/kubedeploy.sh",
    "command-working-directory": "/var/scripts/",
    "response-message": "I got the payload!\n",
    "pass-arguments-to-command":
    [
      {
        "source": "payload",
        "name": "repository"
      },
      {
        "source": "payload",
        "name": "updated_tags"
      }
    ]
  }
]
